# Основные зависимости для работы проекта LLMCAN

# Работа с датами и временными зонами
python-dateutil>=2.8.2

# Криптография для работы с сертификатами, ключами и алгоритмами шифрования
cryptography>=41.0.0

# Фреймворк для тестирования
pytest>=7.4.0

# Библиотека для HTTP-запросов
requests>=2.31.0
requests[socks]>=2.31.0

# Генерация QR-кодов
pyqrcode==1.2.1
pypng>=0.0.20

# Работа с процессами и системной информацией
psutil>=5.9.0

# Форматирование и цветной вывод текста в консоли
termcolor>=2.3.0

# Создание текстовых таблиц для отчетов
prettytable>=3.7.0

# Профилирование памяти
memory-profiler>=0.60.0


## ============ NeuralChat =============== ##
# Основные зависимости NeuralChat
python>=3.8  # Минимальная версия Python

# Веб-сокеты
websockets>=10.4  # Библиотека для работы с WebSocket

# MQTT
paho-mqtt>=1.6.1  # Клиент MQTT

# База данных
sqlite3>=3.37.0  # Встроенная поддержка SQLite (если используется)
# или (если нужна другая БД)
# psycopg2>=2.9.3  # Для PostgreSQL
# mysql-connector-python>=8.0.32  # Для MySQL

# Логирование
loguru>=0.6.0  # Удобное логирование (опционально, можно использовать стандартный logging)

# Тестирование
pytest-asyncio>=0.20.3  # Для тестирования асинхронного кода

# Визуализация графов объектов в памяти
objgraph>=3.6.0

# Логирование в формате JSON
python-json-logger>=2.0.7

# FastAPI для создания веб-сервисов
fastapi>=0.100.0

# Uvicorn для запуска ASGI-приложений
uvicorn[standard]>=0.22.0

# Библиотека для работы с переменными окружения
python-dotenv>=1.0.0

# Линтер для проверки кода (опционально для разработки)
pylint>=2.17.0

# Для установки поиска DuckDuckGo
ddgr

# Для работы с TOR
stem>=1.8.1
PySocks>=1.7.1
