# Основные зависимости NeuralChat

# Веб-сокеты
websockets>=10.4

# MQTT
paho-mqtt>=1.6.1

# Логирование
loguru>=0.6.0

# Тестирование
pytest-asyncio>=0.20.3

# Визуализация графов объектов в памяти
objgraph>=3.6.0

# Логирование в формате JSON
python-json-logger>=2.0.7

# FastAPI для создания веб-сервисов
fastapi>=0.100.0

# Uvicorn для запуска ASGI-приложений
uvicorn[standard]>=0.22.0

# Библиотека для работы с переменными окружения
python-dotenv>=1.0.0

# Линтер для проверки кода (опционально для разработки)
pylint>=2.17.0

# Для работы с TOR
stem>=1.8.1
PySocks>=1.7.1
